<h1>Friends#index</h1>
<p>Find me in app/views/friends/index.html.erb</p>

<div class="toolbar"><%= link_to "友達の新規登録", :new_friend %></div>

<% if @friends.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>No.</th>
        <th>名前</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.id %></td>
          <td><%= link_to friend.name, [:new, friend, :telephone] %></td>
          <td>
            <%= link_to "編集", [:edit, friend] %> |
            <%= link_to "削除", friend, method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>友達の情報がありません。</p>
<% end %>