<% @page_title = "名前の追加" %>
<h2><%= @page_title %></h2>

<%= form_for @friend do |form| %>
  <%= render "form", form: form %>
  <div class="toolbar"><%= form.submit "追加" %></div>
<% end %>

<%= link_to "友達一覧に戻る", :friends %>