<% @page_title = "電話番号の一覧・追加" %>
<h2><%= @page_title %></h2>

<h3><%= @friend.name %></h3>

  <table class="list">
    <thead>
      <tr>
        <th>電話番号</th>
        <th>携帯番号か否か</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% if @telephones.present? %>
        <% @telephones.each do |telephone| %>
          <tr>
            <td>・<%= telephone.number %></td>
            <td>
              <% if telephone.cellphone %>
                ○
              <% else %>
                －
              <% end %>
            </td>
            <td>
              <%= link_to "削除", [@friend, telephone], method: :delete,
                data: { confirm: "本当に削除しますか?" } %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <p>電話番号がありません。</p>
      <% end %>
      <%= form_for @telephone, url: friend_telephones_path(@friend), method: :post do |form| %>
        <%= render "form", form: form %>
      <% end %>
    </tbody>
  </table>

<%= link_to "友達一覧に戻る", :friends %>